.FXDeal.root {
  -fx-padding: 10px;
}

.table-row-cell .position-dispatch {
  -fx-text-fill: gray;
}

.table-row-cell:selected .position-dispatch {
  -fx-text-fill: yellow;
}



.actionTitleBorder .add-menu-button, .FXDealTable .add-button {
  -fx-min-width:  50px;
  -fx-max-width:  50px;
  -fx-pref-width: 50px;
  -fx-min-height:  22px;
  -fx-max-height:  22px;
  -fx-pref-height: 22px;
  -fx-graphic: url("img/add.png");
}

.FXDealTable .remove-button {
  -fx-graphic: url("img/remove.png");
}

.FXDealTable .copy-button {
  -fx-graphic: url("img/copy-16.png");
}

.FXDealTable .paste-button {
  -fx-graphic: url("img/paste-16.png");
}

.FXDealTable .tool-button {
  -fx-min-width:  22px;
  -fx-max-width:  22px;
  -fx-pref-width: 22px;
  
  -fx-min-height:  22px;
  -fx-max-height:  22px;
  -fx-pref-height: 22px;
}

.documentTitleBorder .tool-bar {
  -fx-min-height: 0px;
  -fx-max-height: 0px;
  -fx-pref-height: 0px;
}

.documentTitleBorder .preview-button {
  -fx-graphic: url("img/preview16.png");
}

.documentTitleBorder .print-button {
  -fx-graphic: url("img/print-16.png");
}

.documentTitleBorder .print-complect-button {
  -fx-graphic: url("img/print-complect-16.png");
}


.statusFilter {
  -fx-alignment: BASELINE_RIGHT;
}

.status-button {
  -fx-pref-width: 150px;
  -fx-pref-height: 20px;
  -fx-min-height: 20px;
  -fx-max-height: 20px;
  -fx-background-radius: 2px;
  -fx-cursor: hand;
  
  -fx-font-size: 10px;
}

.status-button:selected, .status-button:hover {
  -fx-border-color: GRAY;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-insets: -1;
  -fx-border-radius: 3px;
}

.finish-status-button {
  -fx-background-color: rgba(0, 255, 0, 0.2);
}

.finish-status-button:selected {
  -fx-background-color: rgba(0, 255, 0, 1);
}

.payment-status-button {
  -fx-background-color: rgba(0, 0, 255, 0.2);
}

.payment-status-button:selected {
  -fx-background-color: rgba(0, 0, 255, 1);
}

.dispatch-status-button {
  -fx-background-color: rgba(255, 0, 0, 0.2);
}

.dispatch-status-button:selected {
  -fx-background-color: rgba(255, 0, 0, 1);
}

.start-status-button {
  -fx-background-color: rgba(255, 142, 0, 0.2);
}

.start-status-button:selected {
  -fx-background-color: rgba(255, 142, 0, 1);
}

.project-status-button {
  -fx-background-color: rgba(96, 96, 96, 0.2);
}

.project-status-button:selected {
  -fx-background-color: rgba(96, 96, 96, 1);
}