.combo-box-base:disabled {
  -fx-opacity: 1;
}

/*.deal-table .table-cell {
  -fx-font-size: 10;
}*/

.disable {
  -fx-opacity: 0.5;
}

.checked-row .table-cell {
  -fx-font-weight: bold;
}

.debt-row .table-cell {
  -fx-text-fill: red;
}