/dist/
/conf/gui/
/conf/markers/
/conf/store.data
/conf/DesktopLabels
/conf/machinery_configuration.xml
/conf/RootWindowDocking.data
/conf/desktop
/conf/exportPath.xml
/conf/UserAuth.xml
/install-distrib/
/lib/
/logs/
/plugins/
/rxtx/
/shlack/
/tmp/
/test/
/default_cfc.data
/update-report.txt
/division-plugin-editors.jar
/master-application.jnlp
/preview-application.html
/velocity.log
/commands.xml
/jpos.xml
/bbb.css
/file-list.txt
/updater.jar
/ShtrihFiscalPrinter.xml
/fop.xml
/shtrihjavapos.xml
/manifest.mf
/image.html
/cong/
/nbproject/
/111.xml
/Settings_1.xml
/Settings.xml
/*.log